*{
	margin:0;
	padding:0;
}
/* ESTILOS MAQUETA JSON ANTONIA */
.contenedor{
	column-count:2;
	column-gap:20px;
	li{
		height: 311px;
	}
}

.img-lugar img{
	width: 95%;
}

.precio{
    background-color: rgba(0, 0, 0, 0.69);
    position: relative;
    top: -80px;
    width: 49%;
    display: flex;
    .usd{
    	color:white;
    	margin-left: 6%;
    	font-size: 11px;
    }
	.precio-txt{
		color:white;
		margin-left:5%;
	}
	.mes-txt{
		color: white;
	    font-weight: 100;
	    margin-left: 6%;
	}
}

.imgUser {
	position: relative;
	left: 75%;
    top: -52px;
    img{
		border-radius: 50%;
	    width: 18%;
	    border: 2px solid white;
	}
}

.descripcion{
	position: relative;
    top: -53px;
    .descripcion-txt{
    	color: #524e4e;
    }
}

.txt-bajada{
    	font-weight: 100;
    	font-size: 12px;
    	position: relative;
    	top: -50px;
}

.estrellas{
	position: relative;
    top: -68px;
    left: 60%;
	.fa-star{
		color: rgb(140, 190, 236);
    	font-size: 19px;
	}
}

/* FIN ESTILOS MAQUETA JSON */