/*INICIO FILTRO DOS*/
.botonflitrodos{
	.btn{
		background-color: white;
		color: black;
	}
}
#flecha{
	width:30%;
}

.filtrodos{
	.btn{
		background-color: white;
		color: black;
	}
}

/*FIN FILTRO DOS*/